main {
  margin-top: 5%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

.aside {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  padding: 0 24px 24px 24px;
  margin-top: 36px;
  background-color: rgb(161, 103, 190);
}

.pause-btn {

  margin-top: 36px;
  margin-bottom: 24px;
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid #000;
  /* border-radius: 4px; */
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 20px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 8px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;

  background-color: rgb(27, 194, 68);
}

.pause-btn:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
}

.pause-btn:focus-visible {
  outline-offset: 1px;
}

.players-title {
  font-size: 24px;
}

.players-list {
  margin-top: 12px;
  font-size: 24px;
  list-style: decimal;
}

.scores {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  list-style: none;
}

/* .score {}

.highScore {} */

.border {
  border: #595f43 solid 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #595f43;
}

.game-board {
  border-radius: 24px;
  display: grid;
  grid-template-columns: repeat(26, 20px);
  grid-template-rows: repeat(26, 20px);
  margin: 5px;
  background-color: rgb(27, 194, 68);
}

.instructions {
  position: absolute;
  top: 79%;

  width: 500px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  margin: 0;

  font-size: 26px;
  text-align: center;
  color: white;

}

.logo {
  border: #595f43 solid 20px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #595f43;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.snake {
  background-color: rgb(0, 170, 255);
  border: 1px solid black;
}

.food-1-type {
  background-color: rgb(255, 213, 0);
  border: 1px solid black;
}

.food-2-type {
  background-color: rgb(242, 0, 255);
  border: 1px solid black;
}

.food-3-type {
  background-color: rgb(255, 34, 0);
  border: 1px solid black;
}

form {
  position: absolute;
  top: 7%;
}

form>input {
  color: rgb(27, 194, 68);
  ;
  border: 2px solid rgb(27, 194, 68);
  ;
  border-radius: 10px;
  padding: 10px 25px;
  background: rgb(34, 31, 32);
  max-width: 190px;
}

form>input:active {
  box-shadow: 2px 2px 15px rgb(27, 194, 68) inset;
}

form>input::placeholder {
  color: rgb(27, 194, 68);
  text-align: center;
}